
.list .blogs-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.list .blogs-container .blog {
    width: 30.3%;
    margin: 1.5%;
}

@media only screen and (min-width: 380pt) and (max-width: 700pt) { 
    .list .blogs-container .blog {
        width: 42%;
        padding: 2%;
    }
}

@media only screen and (max-width: 380pt) { 
    .list .blogs-container .blog {
        width: 100%;
        padding: 2%;
    }
}

@keyframes shadow {
    0% { 
        box-shadow: 0pt 0pt 0pt 0pt #888;
    }
    100% { 
        box-shadow: 0pt 5pt 12pt -3pt #888;
    }
}

.list .blogs-container .blog .shadow-container  {
    padding: 1pt 5pt;
    border-radius: 10pt;
    box-shadow: 0pt 0pt 0pt 0pt #888;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: #FFF;

}

.list .blogs-container .blog .shadow-container:hover  {
    animation-name: shadow;
    transform: translateY(-5pt); 
    box-shadow: 0pt 5pt 10pt -3pt #888;
    animation-duration: 0.3s;
    transition-duration: 0.3s;
    animation-timing-function: ease;
    transition-timing-function: ease;
}

@keyframes shadow-safari {
    0% { 
        box-shadow: 0pt 0pt 12pt -6pt #888;
    }
    100% { 
        box-shadow: 0pt 5pt 12pt -5pt #888;
    }
}

_::-webkit-full-page-media, _:future, :root .list .blogs-container .blog .shadow-container {
    animation-name: shadow-safari;
    box-shadow: 0pt 0pt 12pt -6pt #888;
}

_::-webkit-full-page-media, _:future, :root .list .blogs-container .blog .shadow-container:hover {
    box-shadow: 0pt 5pt 12pt -5pt #888;
}

.list .blogs-container .blog .blog-image {
    width: 94%;
    padding: 3%;
}

.list .blogs-container .blog .blog-title {
    font-weight: 500;
    font-size: 13pt;
}

.list .blogs-container .blog .blog-publish-date {
    font-size: 10pt;
    text-align: right;
    margin-right: 10pt;
}

.list .blogs-container .blog .blog-tags {
    list-style: none;
    padding-left: 0pt;
    display: flex;
    flex-wrap: wrap;
}

.list .blogs-container .blog .blog-tags .blog-tag {
    margin: 2pt 4pt;
    padding: 3pt 8pt;
    background-color: rgb(243, 244, 244);
    font-size: 11pt;
    border-radius: 15pt;
}

.list .blogs-container .blog .blog-tags .blog-tag:hover {
    color: #888;
}

.list .blogs-container ul.pager {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    width: 95%;
    margin: auto;
    margin-top: 20pt;
}

.list .blogs-container .pager li {
    background-color: rgb(243, 244, 244);;
    padding: 3pt 8pt;
    border-radius: 5pt;
}

.list .blogs-container .pager li.new-able {
    justify-content: flex-start;
}

.list .blogs-container .pager li.new-disable {
    justify-content: flex-start;
    color: #888;
}

.list .blogs-container .pager li.old-able {
    justify-content: flex-end;
}

.list .blogs-container .pager li.old-disable {
    justify-content: flex-end;
    color: #888;
}
