
body {
    margin: 0pt;
    background-color: rgb(245, 245, 245);
}

.all {
    margin: auto;
    max-width: 700pt;
    min-width: 200pt;
    font-family: 'Lato';
    overflow-x: hidden;
}

.all a {
    text-decoration: none;
    color: #000;
}
