
.list .blogs-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.list .blogs-container .blog {
    width: 30.3%;
    margin: 1.5%;
}

@media only screen and (min-width: 380pt) and (max-width: 700pt) { 
    .list .blogs-container .blog {
        width: 42%;
        padding: 2%;
    }
}

@media only screen and (max-width: 380pt) { 
    .list .blogs-container .blog {
        width: 100%;
        padding: 2%;
    }
}

.list .blogs-container .blog .shadow-container  {
    padding: 1pt 5pt;
    border-radius: 10pt;
    box-shadow: 0pt 0pt 15pt -5pt #888;

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.list .blogs-container .blog .shadow-container:hover  {
	transform: translateY(100pt);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

_::-webkit-full-page-media, _:future, :root .list .blogs-container .blog .shadow-container {
    box-shadow: 0pt 0pt 12pt -6pt #888;
}


.list .blogs-container .blog .blog-image {
    width: 94%;
    padding: 3%;
}

.list .blogs-container .blog .blog-title {
    font-weight: 500;
    font-size: 13pt;
}

.list .blogs-container .blog .blog-publish-date {
    font-size: 10pt;
    text-align: right;
    margin-right: 10pt;
}

.list .blogs-container .blog .blog-tags {
    list-style: none;
    padding-left: 0pt;
    display: flex;
    flex-wrap: wrap;
}

.list .blogs-container .blog .blog-tags .blog-tag {
    margin: 2pt 4pt;
    padding: 3pt 8pt;
    background-color: rgb(243, 244, 244);
    font-size: 11pt;
    border-radius: 15pt;
}
